
/* -- list styles -- */

ul {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li {
  border-radius: 5px;
  border: 1px solid;
}

.view-study-buttons {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.deck-list-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2px 2px;
}



/* -- page styles -- */
.title-header-area {
  background-color: #f2f2f2;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 3px;
}
