
/* -- list styles -- */

ul {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li {
  background-color: rgb(255, 255, 236);
  border: 1px solid grey;
  border-radius: 5px;
}

.deck-list-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2px 2px;
}


/* -- page styles -- */
.title-header-area {
  background-color: azure;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 3px;
}
